<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sinta-se em casa, e pegue um café</h1>

        </div>
    </div>
    <div class="row  w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure delectus id doloremque eveniet aliquam unde explicabo numquam facere. Sed soluta consequatur vero facere nostrum mollitia unde quis repellat enim ad.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nemo, quam optio asperiores soluta porro minus voluptatibus at, quibusdam nesciunt voluptatem atque incidunt culpa voluptate sapiente doloremque quis! Soluta, placeat?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, animi amet nostrum minus distinctio ex fuga harum impedit quae non, fugiat incidunt ea sed nobis libero, omnis dicta! Placeat, aspernatur.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weigth-bold">Ver o feed</button>
        </div>
    </div>



